<!DOCTYPE html>
<html>
  <head>
    <title>Sentia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
  <ul>
  <li> <%= link_to "People", people_path %></li>
  <li> <%= link_to "Locations", locations_path %></li>
  <li> <%= link_to "Affiliations", affiliations_path %></li>
  </ul>
  </header>
    <%= yield %>
  </body>
</html>
